//Top Bar 
.row
  .twelve.columns
    ul.nav-bar
      li.nine.columns
        a(href='/') Nodejs Seed
      li
        a(href='/signup') Signup
      li
        a(href='/login') Login        
//End Top Bar
