
<header>
	<h1>View 1</h1>
</header>

<hr class="large"/>
<div class="doc-secion clearfix">
	<input ng-model="name"/>
	<p>Hello {{ name }}, this is view 1.</p>
	<p>Scroll down to see a demonstration of the nav pane floating.</p>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<p>It worked!</p>
</div>